*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "CircularStd", sans-serif;
  line-height: 1.6;
  color: #414141; }

a:link,
a:visited {
  text-decoration: none;
  transition: all .2s ease-in-out; }

a:hover {
  opacity: 0.7; }

.mainlink:link,
.mainlink:visited {
  font-size: 1.8rem;
  display: flex;
  align-items: center; }
  .mainlink:link i,
  .mainlink:visited i {
    margin-left: 3rem; }

.fly-text-cont {
  position: relative; }

.fly-text {
  position: absolute;
  top: 4rem;
  left: -14rem;
  font-size: 1.4rem;
  transform: rotate(-90deg);
  color: #000;
  line-height: 18px; }
  .fly-text::before {
    content: '';
    position: absolute;
    top: -2.5rem;
    left: -5rem;
    height: 7rem;
    width: 1px;
    background-color: #1C1B20;
    transform: rotate(90deg); }

.full-section {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: [center-start] repeat(6, [col-start] minmax(min-content, 16.5rem) [col-end]) [center-end];
  grid-column-gap: 3rem; }

.dark {
  color: #C4C4C4; }
  .dark a, .dark span {
    color: #C4C4C4; }

.nav-arrows {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 3rem; }
  .nav-arrows a:link,
  .nav-arrows a:visited {
    color: #1C1B20; }
  .nav-arrows__prev, .nav-arrows__next {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;
    align-items: center; }
  .nav-arrows__next {
    display: grid; }
  .nav-arrows span {
    font-size: 1.4rem; }

h1 {
  font-size: 5.5rem;
  font-family: "DIN", sans-serif;
  font-weight: 700;
  line-height: 6rem;
  text-transform: uppercase; }

h2 {
  font-size: 8rem;
  font-family: "DIN", sans-serif;
  font-weight: 700;
  line-height: 8rem;
  text-transform: uppercase; }

h2.main {
  font-size: 8rem;
  font-family: "DIN", sans-serif;
  font-weight: 700;
  line-height: 8rem;
  text-transform: uppercase;
  position: relative;
  z-index: 2; }
  h2.main::before {
    content: '';
    z-index: -1;
    border-radius: 100%;
    position: absolute;
    width: 15.2rem;
    height: 15.2rem;
    left: -15%;
    top: -15%;
    background: linear-gradient(180deg, rgba(255, 4, 4, 0.2) 0%, rgba(255, 255, 255, 0) 113.16%); }

h3 {
  font-size: 2.4rem;
  line-height: 135%;
  text-transform: none;
  font-weight: 700;
  color: #1C1B20; }

h4 {
  font-size: 1.8rem;
  text-transform: none; }

p {
  font-size: 1.6rem;
  line-height: 145%; }

@font-face {
  font-family: 'CircularStd';
  src: url("../fonts/Circular/CircularStd-Book.eot");
  src: url("../fonts/Circular/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Circular/CircularStd-Book.woff") format("woff"), url("../fonts/Circular/CircularStd-Book.ttf") format("truetype"), url("../fonts/Circular/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'CircularStd';
  src: url("../fonts/Circular/CircularStd-Medium.eot");
  src: url("../fonts/Circular/CircularStd-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Circular/CircularStd-Medium.woff") format("woff"), url("../fonts/Circular/CircularStd-Medium.ttf") format("truetype"), url("../fonts/Circular/CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'CircularStd';
  src: url("../fonts/Circular/CircularStd-Bold.eot");
  src: url("../fonts/Circular/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circular/CircularStd-Bold.woff") format("woff"), url("../fonts/Circular/CircularStd-Bold.ttf") format("truetype"), url("../fonts/Circular/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'DIN';
  src: url("../fonts/DIN/DINPro-CondBold.otf");
  font-weight: 700;
  font-style: normal; }

.highlight-white {
  color: #fff !important; }

.highlight-primary {
  color: #ED1C24 !important; }

.dot-circle {
  font-family: "CircularStd", sans-serif;
  color: #ED1C24 !important; }

.border-bottom--white {
  border-bottom: 1px solid #fff; }

.border-bottom--black {
  border-bottom: 1px solid #1C1B20; }

.heading-22 {
  font-size: 2.2rem; }

.page-card-container {
  background: #fff;
  margin-top: -100px;
  z-index: 2;
  grid-column: center-start / center-end;
  padding: 5rem 9rem;
  box-shadow: 0px 10px 50px rgba(139, 163, 185, 0.4), 0px 60px 30px rgba(0, 0, 0, 0.02);
  height: 34.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5rem; }

.page__card {
  display: flex;
  display: grid;
  grid-auto-flow: row; }
  .page__card--title h3 {
    color: #1C1B20; }

.hww-cards {
  background: #fff;
  padding: 4rem 4rem;
  box-shadow: 0px 10px 50px rgba(139, 163, 185, 0.4), 0px 60px 30px rgba(0, 0, 0, 0.02); }
  .hww-cards__icontitle {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2rem;
    margin-bottom: 2rem;
    align-items: center; }
    .hww-cards__icontitle--icon {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), #C5D1FF;
      padding: 1.5rem;
      border-radius: 100%; }
  .hww-cards p {
    margin-bottom: 2rem; }

.clients {
  grid-column: center-start / center-end;
  padding: 8rem 2rem; }

.client__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none; }

.client_item {
  list-style: none; }

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(6, [col-start] minmax(min-content, 19rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.header-container {
  display: grid;
  grid-template-rows: 11.5rem;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(6, [col-start] minmax(min-content, 19rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-column: full-start / full-end;
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  height: 100vh;
  position: relative; }

.header {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-rows: 11.5rem max-content max-content;
  grid-template-columns: [center-start] repeat(6, [col-start] minmax(min-content, 16.5rem) [col-end]) [center-end];
  grid-column-gap: 30px;
  align-items: center;
  color: #fff;
  position: relative; }
  .header__text-box {
    color: #fff;
    grid-column: center-start / center-end;
    width: 90%;
    padding: 10rem 0;
    position: relative;
    z-index: 3; }
    .header__text-box::before {
      content: '';
      position: absolute;
      width: 188px;
      border-radius: 100%;
      height: 188px;
      left: -5rem;
      top: 3rem;
      background: linear-gradient(195.81deg, #72202A -0.26%, rgba(19, 38, 45, 0.12) 81.11%);
      mix-blend-mode: multiply;
      opacity: 0.5;
      z-index: -1; }
  .header__description {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5rem;
    color: #C4C4C4;
    grid-column: center-start / center-end;
    align-items: center; }
    .header__description--main {
      font-weight: normal !important;
      color: #C4C4C4; }
      .header__description--main .highlight-white {
        font-weight: 700; }
    .header__description--action {
      font-size: 1.8rem;
      justify-self: center; }
      .header__description--action a {
        display: flex;
        align-items: center; }
        .header__description--action a .arrow-right {
          padding-top: 6px; }
  .header a:link,
  .header a:visited {
    color: #fff;
    text-decoration: none; }

.nav {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  grid-column: center-start / center-end; }
  .nav__main {
    color: #fff;
    display: flex;
    font-size: 1.4rem;
    align-items: center; }
    .nav__main--start {
      display: grid;
      grid-template-columns: min-content max-content;
      grid-gap: 5vh 1rem;
      align-items: center;
      align-items: center;
      padding: 0 8rem; }
    .nav__main--menu {
      display: flex;
      position: relative; }
      .nav__main--menu--circle {
        font-size: 3.8rem;
        color: #ED1C24;
        border-radius: 100%;
        font-weight: bold;
        position: absolute;
        left: 50%;
        top: 100%;
        width: 5px;
        height: 5px;
        background: red;
        transform: translate(-50%, 150%);
        text-indent: -9999px; }

.scroller {
  bottom: 15%;
  left: 10rem;
  position: absolute;
  color: #D3D3D3;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 15px;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  z-index: 2; }
  .scroller__image {
    position: absolute;
    -webkit-transform: translateY(-40%) rotate(90deg);
    -ms-transform: translateY(-40%) rotate(90deg);
    transform: translateY(-40%) rotate(90deg); }
  .scroller__text {
    position: absolute;
    right: -90px; }

.footer {
  background: #1C1B20;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(6, [col-start] minmax(min-content, 19rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  border-top: 5px solid #ED1C24; }
  .footer .content {
    grid-column: center-start / center-end;
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: [center-start] repeat(6, [col-start] minmax(min-content, 16.5rem) [col-end]) [center-end];
    grid-column-gap: 3rem;
    margin: 9rem 0; }
    .footer .content .footer-logo {
      grid-column: 1 / 3; }
      .footer .content .footer-logo__icon {
        margin-bottom: 3rem; }
      .footer .content .footer-logo__desc {
        font-size: 1.8rem; }
    .footer .content .footer-contact {
      margin: 0 10rem;
      grid-column: 3 / 6;
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-row-gap: 1rem; }
      .footer .content .footer-contact__address {
        font-size: 1.4rem; }
      .footer .content .footer-contact__number, .footer .content .footer-contact__email a {
        color: #fff; }
    .footer .content .footer-social {
      grid-column: 6 / 7; }
      .footer .content .footer-social .social {
        list-style: none;
        display: flex; }
        .footer .content .footer-social .social__item:not(:last-child) {
          margin-right: 1.8rem; }
  .footer .copyright {
    grid-column: center-start / center-end;
    display: grid;
    justify-content: space-between;
    grid-template-columns: max-content max-content;
    margin-bottom: 5rem; }
    .footer .copyright .copyright-text {
      font-size: 1.2rem; }
    .footer .copyright .copyright-links {
      list-style: none;
      display: flex; }
      .footer .copyright .copyright-links__items:not(:last-child) {
        margin-right: 1rem; }
        .footer .copyright .copyright-links__items:not(:last-child)::after {
          content: " | ";
          padding: 0 10px; }

.whatwedo {
  margin: 5rem 0 8rem; }
  .whatwedo .content {
    grid-column: center-start / 3;
    padding-right: 2rem; }
    .whatwedo .content__title {
      margin-bottom: 6rem;
      color: #ED1C24; }
    .whatwedo .content__subtitle {
      margin-bottom: 6.5rem; }
    .whatwedo .content__desc {
      margin-bottom: 5rem; }
    .whatwedo .content .mainlink:link,
    .whatwedo .content .mainlink:visited {
      display: flex;
      align-content: center;
      color: #1C1B20; }

.services_container {
  background-color: #1C1B20;
  grid-column: 3 / -1; }

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  grid-row-gap: 4.5rem;
  grid-column-gap: 1.5rem;
  padding: 6rem 4rem 0 8rem; }
  .services__item {
    color: #fff; }
    .services__item--title {
      margin: 1rem 0 2rem 0; }
    .services__item--list {
      list-style: none;
      font-size: 1.6rem; }
      .services__item--list li {
        font-size: 1.6rem;
        color: #D3D3D3;
        margin: .8rem 0;
        line-height: 1.8rem; }
        .services__item--list li::before {
          content: "\2022";
          color: #ED1C24;
          position: absolute;
          font-weight: normal;
          font-size: 1.4rem;
          margin-left: -1.3em; }

.letstalk {
  color: #D3D3D3;
  text-align: right;
  padding: 2.3rem;
  border-top: 1px solid #D3D3D333;
  margin: 4rem 6rem 0 6rem; }
  .letstalk a:link,
  .letstalk a:visited {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #ED1C24;
    padding-bottom: .5rem; }

.featured-projects {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: [center-start] repeat(6, [col-start] minmax(min-content, 16.5rem) [col-end]) [center-end];
  grid-column-gap: 3rem;
  grid-template-rows: max-content 39rem;
  margin: 10rem 0; }
  .featured-projects .content {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: [center-start] repeat(6, [col-start] minmax(min-content, 16.5rem) [col-end]) [center-end];
    grid-column-gap: 3rem;
    grid-row: 1 / 2; }
    .featured-projects .content__title {
      margin-bottom: 6rem;
      color: #1C1B20;
      grid-column: center-start / 3; }
    .featured-projects .content__subtitle {
      margin-bottom: 6.5rem;
      grid-column: 3 / 6;
      align-self: center; }
    .featured-projects .content .mainlink:link,
    .featured-projects .content .mainlink:visited {
      display: flex;
      color: #1C1B20;
      grid-column: 6 / 7;
      align-self: center !important;
      margin-bottom: 6rem; }
  .featured-projects .project-cont {
    background: #ED1C24;
    grid-column: center-start / 4;
    color: #fff;
    padding: 3rem 5rem;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    display: grid; }
    .featured-projects .project-cont .project {
      grid-row: 1 / 7;
      grid-column: 1 / 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .featured-projects .project-cont .project__number {
        color: #fff; }
      .featured-projects .project-cont .project__title {
        padding-bottom: 5rem; }
        .featured-projects .project-cont .project__title--name {
          font-family: "DIN", sans-serif;
          font-size: 2.4rem;
          margin-bottom: 2rem; }
          .featured-projects .project-cont .project__title--name::after {
            content: '';
            height: 1px;
            width: 2rem;
            background: #fff;
            display: block;
            margin-top: 1rem; }
        .featured-projects .project-cont .project__title--cat {
          list-style: none;
          font-weight: 400;
          font-size: 1.2rem; }
          .featured-projects .project-cont .project__title--cat li:before {
            content: "\2022";
            color: #fff;
            position: absolute;
            font-weight: normal;
            font-size: 1.2rem;
            margin-left: -1.3em; }
    .featured-projects .project-cont .project-case {
      grid-column: 3 / -1;
      grid-row: 1 / -1;
      width: 55rem;
      background: #1C1B20;
      border: 5px solid #fff;
      position: relative;
      display: grid;
      align-items: end; }
      .featured-projects .project-cont .project-case__item {
        padding: 3rem; }
        .featured-projects .project-cont .project-case__item--bg {
          background: url("../img/case-study-02 1.png");
          background-size: cover;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0; }
        .featured-projects .project-cont .project-case__item--image {
          height: 32rem;
          position: absolute; }
          .featured-projects .project-cont .project-case__item--image img {
            object-fit: cover;
            width: 100%;
            height: 100%; }
        .featured-projects .project-cont .project-case__item--overview, .featured-projects .project-cont .project-case__item--desc, .featured-projects .project-cont .project-case__item--button {
          position: relative;
          z-index: 4; }
        .featured-projects .project-cont .project-case__item--overview {
          color: #fff;
          opacity: 0.5;
          font-size: 1.4rem;
          display: block;
          border-bottom: 1px solid #ED1C24;
          padding-bottom: 2rem; }
        .featured-projects .project-cont .project-case__item--desc {
          font-size: 1.4rem; }
        .featured-projects .project-cont .project-case__item--button {
          text-transform: uppercase;
          font-weight: 700;
          font-size: 1rem;
          color: #1C1B20;
          background-color: #fff;
          padding: 10px 20px;
          text-decoration: none; }
        .featured-projects .project-cont .project-case__item .project-case__footer {
          display: grid;
          grid-template-columns: 30rem max-content;
          justify-content: space-between;
          margin-top: 2rem;
          align-items: center; }
  .featured-projects .project-intro {
    grid-column: 5 / 7;
    grid-row: 2 / -1;
    z-index: 2; }
    .featured-projects .project-intro__text {
      margin: 3rem 0 4rem 0; }
  .featured-projects .navigator {
    margin-top: 10rem; }
    .featured-projects .navigator__number {
      font-size: 1.4rem;
      margin-right: 3rem;
      color: #8895A7;
      font-weight: 700; }
      .featured-projects .navigator__number .active {
        color: #1C1B20; }
  .featured-projects .circle-pattern-bg {
    background: url("../img/circle patterns.png") no-repeat;
    height: 34.8rem;
    width: 100%;
    grid-column: 4 / 7;
    grid-row: 2 / -1;
    z-index: -1; }

.howwework {
  background: url(../img/howweworkbg.jpg);
  background-size: cover;
  background-color: #1C1B20;
  grid-column: full-start / full-end;
  height: 47.5rem;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(6, [col-start] minmax(min-content, 19rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  position: relative;
  margin: 5rem 0 0rem 0; }
  .howwework .content {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: [center-start] repeat(6, [col-start] minmax(min-content, 16.5rem) [col-end]) [center-end];
    grid-column-gap: 3rem;
    align-items: start;
    padding: 10rem 0 0 0; }
    .howwework .content__title {
      margin-bottom: 6rem;
      color: #fff;
      grid-column: center-start / 3; }
    .howwework .content__subdesc {
      margin-bottom: 6.5rem;
      grid-column: 3 / 6; }
      .howwework .content__subdesc .content__subtitle {
        margin-bottom: 3rem;
        color: #fff; }
      .howwework .content__subdesc .content__desc {
        color: #D3D3D3; }

.hww-cont {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
  margin: -12rem 0 10rem 0;
  z-index: 5; }

.quote {
  grid-column: center-start / center-end; }
  .quote .content {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: [center-start] repeat(6, [col-start] minmax(min-content, 16.5rem) [col-end]) [center-end];
    grid-column-gap: 3rem;
    align-items: center; }
    .quote .content blockquote {
      grid-column: 1 / 5;
      color: #1C1B20; }
    .quote .content img {
      grid-column: 5 / 7; }
  .quote--large {
    font-size: 5.5rem;
    line-height: 6rem; }

.cta-bottom {
  grid-column: center-start / center-end;
  margin: 14rem 0 8rem 0; }
  .cta-bottom .content {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: [center-start] repeat(6, [col-start] minmax(min-content, 16.5rem) [col-end]) [center-end];
    grid-column-gap: 3rem;
    align-items: start; }
    .cta-bottom .content__title {
      margin-bottom: 6rem;
      color: #ED1C24;
      grid-column: center-start / 3; }
    .cta-bottom .content__subdesc {
      margin-bottom: 6.5rem;
      grid-column: 3 / 5; }
      .cta-bottom .content__subdesc .content__subtitle {
        margin-bottom: 2.5rem;
        color: #1C1B20; }
      .cta-bottom .content__subdesc .content__desc {
        color: #414141; }
    .cta-bottom .content .mainlink {
      background: #ED1C24;
      grid-column: 5 / 7;
      margin-left: 7rem;
      margin-top: 5rem;
      padding: .7rem 1rem .7rem 3rem;
      font-size: 1.6rem;
      color: #fff;
      text-decoration: none; }
      .cta-bottom .content .mainlink i {
        margin-top: .5rem; }
