// FONT

$default-font: 1.6rem;


// COLORS
$color-primary: #ED1C24;
$color-black: #1C1B20;
$color-white: #fff;

$color-text-dark: #414141;
$color-grey: #D3D3D3;
$color-grey-light: #C4C4C4;
$color-cool-grey: rgb(11, 12, 14);

// FONT VARIABLES
$font-primary: 'CircularStd', sans-serif;
$font-display: 'DIN', sans-serif;

// GRID
$grid-center: center-start / center-end;

// SHADOWS

$default-box-shadow: 0px 10px 50px rgba(139, 163, 185, 0.4), 0px 60px 30px rgba(0, 0, 0, 0.02);
