.page-card-container {
    background:$color-white;
    margin-top: -100px;
    z-index:2;
    grid-column:center-start / center-end;
    padding: 5rem 9rem;
    box-shadow: $default-box-shadow;
    height:34.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5rem;
}

.page__card {
    display:flex;
    display:grid;
    grid-auto-flow: row;

    &--icon {
    }

    &--title {
        h3 {
            color:$color-black;
        }
    }

    &--desc {

    }
}


.hww-cards {

    background:$color-white;
    padding:4rem 4rem;
    box-shadow:$default-box-shadow;

    &__icontitle {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-row-gap: 1.5rem;
        grid-column-gap: 2rem;
        margin-bottom:2rem;
        align-items:center;

        &--icon{
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), #C5D1FF;
            padding:1.5rem;
            border-radius:100%;
        }


    }

    p {
        margin-bottom:2rem;
    }
}