.highlight-white {color:$color-white;}

.highlight-primary {color:$color-primary !important;}
.dot-circle {font-family:$font-primary;}
.border-bottom-white {
    border-bottom:1px solid $color-white;
}